.from-blog {
    &__container {
        margin-bottom: 162px;
    }
}

.body-from-blog {
    &__content {
    @extend %flex-all-center;
    column-gap: 30px;
    row-gap: 90px;
    }

    &__item {
    position: relative;
    flex: 0 1 350px;
    }

    &__img {
    width: 100%;
    & img{
    width: 100%;
    object-fit: cover;
    }
    }

    &__text {
    content: '';
    position: absolute;
    width: 80%;
    height: 50%;
    left: 10%;
    top: 82%;
    background-color:$mainColor ;
    }

    &__list{
    padding: 24px 16px 15px 16px; 
    width: 100%;
    height: 100%;
    }

    &__title {
    font-weight: 600;
    font-size: 14px;
    line-height: 157%;
    letter-spacing: 0.06em;
    color: $textColor;
    padding-bottom: 12px;
    }

    &__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    opacity: 0.8;
    }
}

.up-body-from-blog {
    @extend %flex;
    align-items: center;
    padding-bottom: 50px;

    &__buttons {
    opacity: 0.6;
    letter-spacing: 0.06em;
    border: 0px;
    background-color: $mainColor;
cursor: pointer;
    }
}