.offer {
	&__container {
	margin-bottom: 96px;
	}
}

.column-offer {
	@extend %flex-all-center;
	gap: 30px;

	&__left {
	position: relative;
	}

	&__image {
	& img{
	width: 100%;
	}
	}

	&__text {
	content: "";
	position: absolute;
	width: 50%;
	height: 40%;
	top: 36%;
	left: 24%;
	background-color: $mainColor;
	@extend %flex-center-nowrap;
	flex-direction: column;
	row-gap: 10px;
	}

	&__title {
	letter-spacing: 0.06em;
	opacity: 0.6;
	text-transform: uppercase;
	}

	&__subtitle {
	letter-spacing: 0.06em;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	}

	&__right {
	position: relative;
	}
}
	span {
	color: #E91E63;
	}