.top-bar {
	background-color: $textColor;
	height: 24px;
	&__container {
	@extend %flex;
	align-items: center;
	}
}

.column-top-bar {
	@extend %flex-center-nowrap;
	column-gap: 24px;

	&__item {
	@extend %flex-center-nowrap;
	column-gap: 10px;
	}

	&__text {
	font-weight: 500;
	font-size: 11px;
	line-height: 109%;
	color: $mainColor;
	opacity: 0.8;
	}
}

.social-top-bar {
	&__item {
	display: flex;
	align-items: center;
	column-gap: 10px;
	}
}